.app {
  box-sizing: border-box;
}
.role-error-temporary {
  background-color: #720f0f;
  color: white;
  font-size: 18px;
  margin-top: 10px;
  text-align: center;
  border-radius: 12px;
  padding: 4px;
}