.auth-page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/businessmen-shaking-hands.png');
  background-size: cover;
  background-position: center;
}

.auth-container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}